jade/templates/agreement.tpl.jade
.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Договор
.modal-body#agreement
    h2 ДОГОВОР - ОФЕРТА
    h4 купли-продажи

    p
        div.text-left г. Ростов-на-Дону
        div.text-right Дата публикации: 16.02.2016 
        div.text-right Дата вступления в силу: 16.02.2016

    p В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации (ГК РФ), в случае принятия изложенных ниже условий, любое физическое лицо, производящее акцепт (принятие) этой оферты, становится Покупателем (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте).

    p Приведенный ниже договор купли-продажи (далее – Договор) является официальным предложением (публичной Офертой) от индивидуального предпринимателя Дергачевой Ольги Петровны (именуемой в дальнейшем Продавец) любому физическому лицу (именуемому в дальнейшем Покупатель) и содержит все существенные условия, необходимые для заключения Договора на следующих условиях:

    h3 1. Термины и определения

    p В настоящем Договоре используются следующие термины и определения:
    ul
        li #[b Товар] – автомобильные запчасти, расходные материалы, реализуемые Продавцом Покупателю на условиях  настоящего Договора  в соответствии с Заказом Покупателя, для использования в личных, семейных, домашних и иных подобных нуждах, не связанных с использованием в предпринимательской деятельности;
        li #[b Сайт] – информационный ресурс, используемый Продавцом для продажи Товара и  расположенный в сети Интернет по адресу: #[a(href='http://www.enotavto.ru/') www.enotavto.ru];   
        li #[b Акцепт] – полное и безоговорочное принятие Покупателем условий Договора, подтвержденное оплатой Заказа;
        li #[b Заявка] - направление  Покупателем через Сайт Продавцу перечня запчастей, планируемых к приобретению в  рамках настоящего Договора;
        li #[b Заказ] – подтвержденная Продавцом и полностью оплаченная Покупателем Заявка;
        li #[b Срок поставки] – примерный срок передачи Товара по Заказу Покупателя;   
        li #[b Рекламация] – претензия Покупателя в отношении качества, количества, ассортимента либо комплектности Товара, поставленного в соответствии с условиями настоящего Договора;

    h3 2. Предмет Договора

    p 2.1. Предметом настоящего Договора является приобретение Покупателем Товара, в соответствии с ценами, указанными в Заказе.

    h3 3. Акцепт договора

    p 3.1. Оплата Покупателем Заявки означает достаточное и полное ознакомление Покупателя с Товаром, его основными характеристиками и свойствами, о наименовании Продавца и его адресе (месте нахождения), а так же полное и безоговорочное согласие Покупателя с ценой Товара, условиями его приобретения, оплаты и получения и с прочими  условиями настоящего Договора.
    p 3.2. Договор считается заключенным с даты осуществления платежа  Покупателя в соответствии с его Заявкой, подтвержденной Продавцом.  

    h3 4. Порядок заказа, получения и приемки Товара

    p 4.1. Оформление Заявки Покупатель осуществляет на Сайте Продавца.
    p 4.2. Получив Заявку, Продавец осуществляет ее обработку, при необходимости осуществляет подбор Товара применительно к указанному Покупателем автомобилю, проверяет возможность поставки необходимого Товара.
    p 4.3. После обработки Заявки Продавец направляет Покупателю по указанному им адресу электронной почты варианты Товара, удовлетворяющие запросы Покупателя, их цену и Сроки поставки, а также информирует Покупателя о возможности внесения оплаты за выбранный Товар. 
    p В случае, если Покупателю было предложено несколько вариантов Товара, Покупатель обязан известить Продавца о сделанном выборе до момента оплаты.
    p 4.4. В случае согласия Покупателя с условиями приобретения предложенного Товара, Покупатель производит оплату, при поступлении которой Заказ принимается в работу. 
    p 4.5. Срок передачи Товара по настоящему Договору не может превышать 60 рабочих дней с момента Заказа, за исключением случаев согласия Покупателя на увеличение сроков передачи Товара. В случае такого согласия максимальный срок поставки увеличивается до 150 рабочих дней.
    p В случае полной или частичной невозможности выполнения Заявки Покупателя (обнуления) в оговоренные сроки, Продавец незамедлительно извещает об этом Покупателя.
    p 4.6. О готовности Товара к передаче Продавец уведомляет Покупателя по адресу электронной почты, указанному в Заявке. Передача Товара Покупателю осуществляется в указанном Продавцом месте.
    p 4.7. Приемка Товара по количеству, качеству, ассортименту и комплектности осуществляется Покупателем в момент передачи Товара.
    p 4.8. Моментом исполнения обязательств по передаче товара Покупателю является дата подписания Покупателем товарной накладной.   

    h3 5. Права и обязанности сторон

    p 5.1. Продавец обязуется:
    p 5.1.1. Передать Товар Покупателю в соответствии с условиями Заявки и настоящего Договора.
    p 5.1.2. С момента заключения настоящего Договора обеспечить выполнение в полной мере всех обязательств перед Покупателем в соответствии с условиями настоящего Договора. Продавец освобождается от ответственности за поставку Товара ненадлежащего ассортимента/артикула, если поставил Товар, соответствующий Заявке Покупателя.

    p 5.2. Продавец вправе:
    p 5.2.1.   В случае не выборки Товара Покупателем более 14 календарных дней от даты, указанной Продавцом в соответствии с п. 4.6 Договора, Продавец принимает Товар на ответственное хранение. Вознаграждение Продавца за хранение составляет 0.5 % от стоимости товара за каждый день хранения. В случае превышения стоимости хранения над стоимостью Товара, Продавец вправе реализовать данный Товар и зачесть вырученную сумму в счет оплаты за хранение Товара.

    p 5.3. Покупатель обязуется:
    p 5.3.1. До момента заключения Договора ознакомиться с содержанием и условиями Договора - Оферты,  ценой, основными характеристиками и свойствами Товара, Сроком поставки, порядком оплаты и получения Товара. Ознакомление Покупателя со сведениями, указанными в настоящем пункте, подтверждается фактом Акцепта настоящего Договора.
    p 5.3.2. Предоставлять при оформлении Заявки точное наименование  заказываемого Товара, его номер по каталогу производителя, либо все данные об автомобиле, необходимые для точной идентификации требуемого Покупателю Товара. Кроме того, Покупатель обязан проинформировать Продавца о наличии конструктивных изменений транспортного средства, переоборудовании автомобиля, либо применении нестандартных (неоригинальных) узлов и агрегатов. При нарушении требований данного пункта, Продавец не несет ответственность за совместимость Товара  с автомобилем, а так же за последствия, вызванные применением Товара.
    p 5.3.3. Во исполнение Продавцом своих обязательств перед Покупателем, последний должен сообщить все необходимые данные, позволяющие точно определить сторону по настоящему Договору: ФИО, паспортные данные, адрес регистрации. При неисполнении условий данного пункта, Продавец вправе отказаться от исполнения настоящего Договора.
    p 5.3.4. Осуществить приемку Товара в срок не более 7-ми  календарных дней с момента получения соответствующего уведомления о готовности Товара к передаче.

    p 5.4 Покупатель вправе:
    p 5.4.1. Требовать соблюдения условий настоящего Договора Продавцом.
    p 5.4.2. Осуществить возврат Товара в случаях, предусмотренных законодательством РФ. 
    
    h3 6. Цена и порядок расчетов
    
    p 6.1. Цена на Товар определяется Продавцом в сообщении, направляемом Покупателю по результатам обработки Заявки. Цена Товара формируется с учетом стоимости доставки Товара до места передачи Покупателю, указываемого Продавцом.
    p 6.2. Цена на Товар по настоящему Договору устанавливается в рублях РФ (НДС не облагается в соответствии с ___________) и указывается в товарно-транспортных накладных.
    p 6.3. Оплата Заказа в соответствии с настоящим договором производится через Сайт Продавца с использованием банковской карты Visa или Mastercard, либо путем внесения наличных денежных средств в кассу Продавца, на условиях 100% предоплаты.
    p 6.4. В случае оплаты банковской картой, Покупатель получает уведомление о произведенной оплате на указанный им адрес электронной почты.
    p 6.5. Датой оплаты считается  дата совершения платежа.

    h3 7. Гарантии

    p 7.1. На поставленный в рамках настоящего Договора Товар устанавливается гарантийный срок равный 45 (сорока пяти) календарным дням, с момента передачи Товара Покупателю, но не более 30 (тридцати) календарных дней с момента документально подтвержденной установки на транспортное средство. 
    p 7.2. Гарантийные обязательства Продавца не распространяются на следующие случаи:

    ul
        li истекли сроки, предусмотренные п. 7.1. настоящего Договора;
        li установка Товара производилась Покупателем самостоятельно или на станции технического обслуживания (автосервисе), не имеющей сертификата на проведение данного вида работ;
        li оригинальный Товар устанавливался не авторизованными сервисными станциями компаний-производителей автомобилей;
        li дефект Товара вызван ДТП, чрезмерным износом при эксплуатации транспортного средства, ошибками при установке;
        li дефект  Товара, относящегося к группе топливной системы или системы выпуска, произошел  вследствие использования не предусмотренного изготовителем транспортного средства класса топлива;
        li нарушен регламент замены Товара (тормозные диски, амортизаторы, пружины и пр.);
        li при замене тормозных дисков, барабанов, не произведена замена тормозных колодок;
        li дефект Товара вызван в результате воздействия промышленных и химических выбросов, кислотного или щелочного загрязнения воздуха, растительного сока, продуктов жизнедеятельности птиц и животных, химически активных веществ, в том числе применяемых для борьбы с обледенением дорог, града, молнии и прочих природных явлений;
        li не предоставлен претензионный Товар или неверно оформлены/отсутствуют документы, предусмотренные п. 7.4 настоящего Договора;
        li Товар относится к электрической группе (в случае, если гарантия не установлена заводом-изготовителем Товара).

    p 7.3. Гарантийные обязательства Продавца не распространяются на Товар, являющийся расходным, смазочным материалом и прочими элементами, подверженными износу и разрушению при нормальной эксплуатации, а именно:

    ul
        li воздушные, масляные и топливные фильтры;
        li приводные ремни;
        li свечи зажигания;
        li диски сцепления;
        li тормозные колодки;
        li щетки стеклоочистителей;
        li прокладки различных типов (кроме прокладок головки блока цилиндров);
        li сальники;
        li плавкие предохранители;
        li лампы накаливания;
        li электрические якорные щетки;
        li масла, технические жидкости и смазки;
        li прочие расходные элементы.

    p 7.4. При наступлении гарантийного случая, Покупатель обязан незамедлительно известить Продавца  о выявленных недостатках Товара и согласовать дальнейшие действия с Продавцом, а также предоставить  копии  следующих документов:

    ul.numbers
        li 1) заявление Покупателя на рассмотрение гарантийного случая;
        li 2) заказ-наряд, оформленный СТО, подписанный  уполномоченным сотрудником и заверенный печатью организации, об установке Товара на автомобиль с указанием: VIN, марка автомобиля, модификация, номер двигателя, дата проведения работ, перечень выполненных работ, название установленного Товара с указанием каталожного номера, пробег транспортного средства на момент проведения работ.
        li 3) акт выполненных работ с документом об оплате;
        li 4) сертификат соответствия (с указанием автомобилей) на право оказания услуг предоставляемых СТО, лицензию и приложение к сертификату;
        li 5) акт дефектовки, оформленный СТО, с указанием полных данных автомобиля, следующего содержания: VIN, марка автомобиля, модификация, номер двигателя, дата проведения дефектовки, перечень выполненных работ, необходимых для дефектовки Товара, название дефектного Товара, в отношении которого велись работы, с указанием каталожного номера, пробег автомобиля на момент проведения дефектовки.
            | В акте должна быть указана конкретная причина, объясняющая претензию к Товару, вследствие чего она была выявлена. Акт дефектовки должен иметь печать и подписи уполномоченных лиц предприятия, проводившего ремонт автомобиля;

    ul.numbers
        li 6) заполненный гарантийный талон, если таковой предусмотрен производителем Товара;
        li 7) накладная Продавца.
        li 7.5. Одновременно с документами, предусмотренными п. 7.4. настоящего Договора, Покупателем предоставляется претензионный Товар в комплектности, существовавшей на момент поставки Товара.
        li 7.6. Экспертиза претензионного Товара проводится Продавцом за свой счет в срок, не превышающий 20 (Двадцать) календарных дней с момента получения претензионного Товара и документов, предусмотренных  п. 7.4. настоящего Договора.

    h3 8. Возврат Товара
    
    p 8.1. Покупателю предоставляется право осуществить возврат Товара, который был приобретён со склада Продавца (то есть с наличия).
    p 8.2. В том случае, если Товар по Заказу Покупателя заказывался Продавцом у сторонних поставщиков, возврат не может быть осуществлен, за исключением случаев брака. Порядок оформления брака и перечень необходимых документов указаны в разделе 7 настоящего Договора.
    p 8.3. Возврат электрообрудования и электрических приборов (свечи, электролампы и т.п.) не производиться ни при каких условиях.
    p 8.4. Покупатель обязан уведомить Продавца о предстоящем возврате Товара и согласовать с Продавцом условия возврата (время, документальное оформление и пр.). Возврат Товара без предварительного согласования с Поставщиком считается нарушением условий настоящего Договора и может служить основанием для отказа Покупателю в возврате Товара. 
    p 8.5. Возврат Товара осуществляется в месте его получения Покупателем. Возврат Товара без сопроводительных документов считается нарушением условий настоящего договора и может служить основанием для отказа Покупателю в возврате Товара.
    p 8.6. После получения документов и приёмки возвращаемого Товара Продавец обязуется вернуть Покупателю сумму, указанную в возвратных документах, в течение 14 календарных дней. Возврат денежных средств производится в той же форме, в которой была произведена операция по оплате Заказа.
    
    h3 9. Срок действия договора
    
    p 9.1. Настоящий договор вступает в силу с момента осуществления Покупателем Акцепта в установленном настоящим договором порядке, и действует до полного исполнения Сторонами своих обязательств.

    h3 10. Ответственность Сторон
    
    p 10.1.  По всем вопросам, не предусмотренным настоящим Договором, ответственность Сторон определяется в соответствии с действующим законодательством РФ.
    p 10.2. Условия настоящего Договора, предусматривающие пени, а так же  штрафы и иные санкции, связанные с возмещением ущерба в случае нарушения договорных обязательств сторон в соответствии с действующим законодательством РФ, применяются только в том случае, если сторона Договора, в чью пользу установлена санкция, либо в чью пользу возмещаются убытки, после нарушения договорных обязательств другой стороной в письменном виде известит ее о намерении взыскать пени, штрафы или иные санкции и (или) потребовать возмещения убытков по факту конкретного нарушения договорных обязательств. Если же такое извещение сделано не было, то соответствующие условия настоящего Договора считаются недействительными и применению не подлежат.
    p 10.3. Если иное прямо не предусмотрено настоящим Договором, проценты, предусмотренные ст. 317.1 ГК РФ, за период пользования одной стороной денежными средствами другой стороны в связи с обязательствами, возникшими из настоящего Договора, не начисляются и не подлежат уплате стороне-кредитору

    h3 11. Форс-мажор
    
    p 11.1. Стороны освобождаются от ответственности за частичное  или полное неисполнение обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения настоящего Договора, в результате событий  чрезвычайного характера, наступление которых сторона, не выполнившая обязательства полностью или частично, не могла ни предвидеть, ни предотвратить (форс-мажор). К обстоятельствам непреодолимой силы  относятся также пожары, наводнения, стихийные бедствия, военные действия и акты государственных органов законодательной и исполнительной  власти, сделавшие невозможным исполнения сторонами своих обязательств по настоящему Договору.
    p 11.2. В случае наступления обстоятельств непреодолимой силы срок исполнения сторонами своих обязательств по настоящему Договору отодвигается соразмерно времени,  в течение которого будут действовать такие обстоятельства.
    p 11.3. Сторона, подвергнувшаяся обстоятельствам непреодолимой силы, обязана в течение 3 (трех) календарных дней со дня наступления указанных обстоятельств известить об этом другую сторону, при этом уведомление Продавца размещается на Сайте.
    p 11.4. В случае, если срок действия обстоятельств непреодолимой силы превышает один календарный месяц, то стороны обязуются разрешить дальнейшую юридическую судьбу настоящего Договора.

    h3 12. Порядок разрешения споров
    
    p 12.1. Все вопросы, связанные с исполнением настоящего Договора, стороны попытаются решить путем переговоров и подписания соответствующих соглашений. 
    p 12.2. При невозможности достичь договоренности, все споры, связанные с настоящим Договором, подлежат рассмотрению в соответствии с действующим законодательством.

    h3 13. Заключительные положения
    
    p 13.1. Заявки, направленные Покупателем в адрес Продавца с Сайта Продавца, а также с адреса электронной почты, указанной в Заявке Покупателя, имеют юридическую силу.
    p 13.2 Настоящий Договор - оферта действителен с момента публикации на Сайте и до момента официального отзыва его Продавцом.
    
    p.download-agreement
        a(href="/agreement.docx") Скачать Договор в формате DOCX
.modal-footer
    button.btn.btn-primary(ng-click='closeModal()') Закрыть

templates/agreement.tpl.html

<div class="modal-header"><i ng-click="closeModal()" class="fa fa-times"></i>
  <h3 class="modal-title text-left">Договор</h3>
</div>
<div id="agreement" class="modal-body">
  <h2>ДОГОВОР - ОФЕРТА</h2>
  <h4>купли-продажи</h4>
  <p>
    <div class="text-left">г. Ростов-на-Дону</div>
    <div class="text-right">Дата публикации: 16.02.2016 </div>
    <div class="text-right">Дата вступления в силу: 16.02.2016</div>
  </p>
  <p>В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации (ГК РФ), в случае принятия изложенных ниже условий, любое физическое лицо, производящее акцепт (принятие) этой оферты, становится Покупателем (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте).</p>
  <p>Приведенный ниже договор купли-продажи (далее – Договор) является официальным предложением (публичной Офертой) от индивидуального предпринимателя Дергачевой Ольги Петровны (именуемой в дальнейшем Продавец) любому физическому лицу (именуемому в дальнейшем Покупатель) и содержит все существенные условия, необходимые для заключения Договора на следующих условиях:</p>
  <h3>1. Термины и определения</h3>
  <p>В настоящем Договоре используются следующие термины и определения:</p>
  <ul>
    <li><b>Товар</b> – автомобильные запчасти, расходные материалы, реализуемые Продавцом Покупателю на условиях  настоящего Договора  в соответствии с Заказом Покупателя, для использования в личных, семейных, домашних и иных подобных нуждах, не связанных с использованием в предпринимательской деятельности;</li>
    <li><b>Сайт</b> – информационный ресурс, используемый Продавцом для продажи Товара и  расположенный в сети Интернет по адресу: <a href="http://www.enotavto.ru/">www.enotavto.ru</a>;   </li>
    <li><b>Акцепт</b> – полное и безоговорочное принятие Покупателем условий Договора, подтвержденное оплатой Заказа;</li>
    <li><b>Заявка</b> - направление  Покупателем через Сайт Продавцу перечня запчастей, планируемых к приобретению в  рамках настоящего Договора;</li>
    <li><b>Заказ</b> – подтвержденная Продавцом и полностью оплаченная Покупателем Заявка;</li>
    <li><b>Срок поставки</b> – примерный срок передачи Товара по Заказу Покупателя;   </li>
    <li><b>Рекламация</b> – претензия Покупателя в отношении качества, количества, ассортимента либо комплектности Товара, поставленного в соответствии с условиями настоящего Договора;</li>
  </ul>
  <h3>2. Предмет Договора</h3>
  <p>2.1. Предметом настоящего Договора является приобретение Покупателем Товара, в соответствии с ценами, указанными в Заказе.</p>
  <h3>3. Акцепт договора</h3>
  <p>3.1. Оплата Покупателем Заявки означает достаточное и полное ознакомление Покупателя с Товаром, его основными характеристиками и свойствами, о наименовании Продавца и его адресе (месте нахождения), а так же полное и безоговорочное согласие Покупателя с ценой Товара, условиями его приобретения, оплаты и получения и с прочими  условиями настоящего Договора.</p>
  <p>3.2. Договор считается заключенным с даты осуществления платежа  Покупателя в соответствии с его Заявкой, подтвержденной Продавцом.  </p>
  <h3>4. Порядок заказа, получения и приемки Товара</h3>
  <p>4.1. Оформление Заявки Покупатель осуществляет на Сайте Продавца.</p>
  <p>4.2. Получив Заявку, Продавец осуществляет ее обработку, при необходимости осуществляет подбор Товара применительно к указанному Покупателем автомобилю, проверяет возможность поставки необходимого Товара.</p>
  <p>4.3. После обработки Заявки Продавец направляет Покупателю по указанному им адресу электронной почты варианты Товара, удовлетворяющие запросы Покупателя, их цену и Сроки поставки, а также информирует Покупателя о возможности внесения оплаты за выбранный Товар. </p>
  <p>В случае, если Покупателю было предложено несколько вариантов Товара, Покупатель обязан известить Продавца о сделанном выборе до момента оплаты.</p>
  <p>4.4. В случае согласия Покупателя с условиями приобретения предложенного Товара, Покупатель производит оплату, при поступлении которой Заказ принимается в работу. </p>
  <p>4.5. Срок передачи Товара по настоящему Договору не может превышать 60 рабочих дней с момента Заказа, за исключением случаев согласия Покупателя на увеличение сроков передачи Товара. В случае такого согласия максимальный срок поставки увеличивается до 150 рабочих дней.</p>
  <p>В случае полной или частичной невозможности выполнения Заявки Покупателя (обнуления) в оговоренные сроки, Продавец незамедлительно извещает об этом Покупателя.</p>
  <p>4.6. О готовности Товара к передаче Продавец уведомляет Покупателя по адресу электронной почты, указанному в Заявке. Передача Товара Покупателю осуществляется в указанном Продавцом месте.</p>
  <p>4.7. Приемка Товара по количеству, качеству, ассортименту и комплектности осуществляется Покупателем в момент передачи Товара.</p>
  <p>4.8. Моментом исполнения обязательств по передаче товара Покупателю является дата подписания Покупателем товарной накладной.   </p>
  <h3>5. Права и обязанности сторон</h3>
  <p>5.1. Продавец обязуется:</p>
  <p>5.1.1. Передать Товар Покупателю в соответствии с условиями Заявки и настоящего Договора.</p>
  <p>5.1.2. С момента заключения настоящего Договора обеспечить выполнение в полной мере всех обязательств перед Покупателем в соответствии с условиями настоящего Договора. Продавец освобождается от ответственности за поставку Товара ненадлежащего ассортимента/артикула, если поставил Товар, соответствующий Заявке Покупателя.</p>
  <p>5.2. Продавец вправе:</p>
  <p>5.2.1.   В случае не выборки Товара Покупателем более 14 календарных дней от даты, указанной Продавцом в соответствии с п. 4.6 Договора, Продавец принимает Товар на ответственное хранение. Вознаграждение Продавца за хранение составляет 0.5 % от стоимости товара за каждый день хранения. В случае превышения стоимости хранения над стоимостью Товара, Продавец вправе реализовать данный Товар и зачесть вырученную сумму в счет оплаты за хранение Товара.</p>
  <p>5.3. Покупатель обязуется:</p>
  <p>5.3.1. До момента заключения Договора ознакомиться с содержанием и условиями Договора - Оферты,  ценой, основными характеристиками и свойствами Товара, Сроком поставки, порядком оплаты и получения Товара. Ознакомление Покупателя со сведениями, указанными в настоящем пункте, подтверждается фактом Акцепта настоящего Договора.</p>
  <p>5.3.2. Предоставлять при оформлении Заявки точное наименование  заказываемого Товара, его номер по каталогу производителя, либо все данные об автомобиле, необходимые для точной идентификации требуемого Покупателю Товара. Кроме того, Покупатель обязан проинформировать Продавца о наличии конструктивных изменений транспортного средства, переоборудовании автомобиля, либо применении нестандартных (неоригинальных) узлов и агрегатов. При нарушении требований данного пункта, Продавец не несет ответственность за совместимость Товара  с автомобилем, а так же за последствия, вызванные применением Товара.</p>
  <p>5.3.3. Во исполнение Продавцом своих обязательств перед Покупателем, последний должен сообщить все необходимые данные, позволяющие точно определить сторону по настоящему Договору: ФИО, паспортные данные, адрес регистрации. При неисполнении условий данного пункта, Продавец вправе отказаться от исполнения настоящего Договора.</p>
  <p>5.3.4. Осуществить приемку Товара в срок не более 7-ми  календарных дней с момента получения соответствующего уведомления о готовности Товара к передаче.</p>
  <p>5.4 Покупатель вправе:</p>
  <p>5.4.1. Требовать соблюдения условий настоящего Договора Продавцом.</p>
  <p>5.4.2. Осуществить возврат Товара в случаях, предусмотренных законодательством РФ. </p>
  <h3>6. Цена и порядок расчетов</h3>
  <p>6.1. Цена на Товар определяется Продавцом в сообщении, направляемом Покупателю по результатам обработки Заявки. Цена Товара формируется с учетом стоимости доставки Товара до места передачи Покупателю, указываемого Продавцом.</p>
  <p>6.2. Цена на Товар по настоящему Договору устанавливается в рублях РФ (НДС не облагается в соответствии с ___________) и указывается в товарно-транспортных накладных.</p>
  <p>6.3. Оплата Заказа в соответствии с настоящим договором производится через Сайт Продавца с использованием банковской карты Visa или Mastercard, либо путем внесения наличных денежных средств в кассу Продавца, на условиях 100% предоплаты.</p>
  <p>6.4. В случае оплаты банковской картой, Покупатель получает уведомление о произведенной оплате на указанный им адрес электронной почты.</p>
  <p>6.5. Датой оплаты считается  дата совершения платежа.</p>
  <h3>7. Гарантии</h3>
  <p>7.1. На поставленный в рамках настоящего Договора Товар устанавливается гарантийный срок равный 45 (сорока пяти) календарным дням, с момента передачи Товара Покупателю, но не более 30 (тридцати) календарных дней с момента документально подтвержденной установки на транспортное средство. </p>
  <p>7.2. Гарантийные обязательства Продавца не распространяются на следующие случаи:</p>
  <ul>
    <li>истекли сроки, предусмотренные п. 7.1. настоящего Договора;</li>
    <li>установка Товара производилась Покупателем самостоятельно или на станции технического обслуживания (автосервисе), не имеющей сертификата на проведение данного вида работ;</li>
    <li>оригинальный Товар устанавливался не авторизованными сервисными станциями компаний-производителей автомобилей;</li>
    <li>дефект Товара вызван ДТП, чрезмерным износом при эксплуатации транспортного средства, ошибками при установке;</li>
    <li>дефект  Товара, относящегося к группе топливной системы или системы выпуска, произошел  вследствие использования не предусмотренного изготовителем транспортного средства класса топлива;</li>
    <li>нарушен регламент замены Товара (тормозные диски, амортизаторы, пружины и пр.);</li>
    <li>при замене тормозных дисков, барабанов, не произведена замена тормозных колодок;</li>
    <li>дефект Товара вызван в результате воздействия промышленных и химических выбросов, кислотного или щелочного загрязнения воздуха, растительного сока, продуктов жизнедеятельности птиц и животных, химически активных веществ, в том числе применяемых для борьбы с обледенением дорог, града, молнии и прочих природных явлений;</li>
    <li>не предоставлен претензионный Товар или неверно оформлены/отсутствуют документы, предусмотренные п. 7.4 настоящего Договора;</li>
    <li>Товар относится к электрической группе (в случае, если гарантия не установлена заводом-изготовителем Товара).</li>
  </ul>
  <p>7.3. Гарантийные обязательства Продавца не распространяются на Товар, являющийся расходным, смазочным материалом и прочими элементами, подверженными износу и разрушению при нормальной эксплуатации, а именно:</p>
  <ul>
    <li>воздушные, масляные и топливные фильтры;</li>
    <li>приводные ремни;</li>
    <li>свечи зажигания;</li>
    <li>диски сцепления;</li>
    <li>тормозные колодки;</li>
    <li>щетки стеклоочистителей;</li>
    <li>прокладки различных типов (кроме прокладок головки блока цилиндров);</li>
    <li>сальники;</li>
    <li>плавкие предохранители;</li>
    <li>лампы накаливания;</li>
    <li>электрические якорные щетки;</li>
    <li>масла, технические жидкости и смазки;</li>
    <li>прочие расходные элементы.</li>
  </ul>
  <p>7.4. При наступлении гарантийного случая, Покупатель обязан незамедлительно известить Продавца  о выявленных недостатках Товара и согласовать дальнейшие действия с Продавцом, а также предоставить  копии  следующих документов:</p>
  <ul class="numbers">
    <li>1) заявление Покупателя на рассмотрение гарантийного случая;</li>
    <li>2) заказ-наряд, оформленный СТО, подписанный  уполномоченным сотрудником и заверенный печатью организации, об установке Товара на автомобиль с указанием: VIN, марка автомобиля, модификация, номер двигателя, дата проведения работ, перечень выполненных работ, название установленного Товара с указанием каталожного номера, пробег транспортного средства на момент проведения работ.</li>
    <li>3) акт выполненных работ с документом об оплате;</li>
    <li>4) сертификат соответствия (с указанием автомобилей) на право оказания услуг предоставляемых СТО, лицензию и приложение к сертификату;</li>
    <li>
      5) акт дефектовки, оформленный СТО, с указанием полных данных автомобиля, следующего содержания: VIN, марка автомобиля, модификация, номер двигателя, дата проведения дефектовки, перечень выполненных работ, необходимых для дефектовки Товара, название дефектного Товара, в отношении которого велись работы, с указанием каталожного номера, пробег автомобиля на момент проведения дефектовки.
      В акте должна быть указана конкретная причина, объясняющая претензию к Товару, вследствие чего она была выявлена. Акт дефектовки должен иметь печать и подписи уполномоченных лиц предприятия, проводившего ремонт автомобиля;
    </li>
  </ul>
  <ul class="numbers">
    <li>6) заполненный гарантийный талон, если таковой предусмотрен производителем Товара;</li>
    <li>7) накладная Продавца.</li>
    <li>7.5. Одновременно с документами, предусмотренными п. 7.4. настоящего Договора, Покупателем предоставляется претензионный Товар в комплектности, существовавшей на момент поставки Товара.</li>
    <li>7.6. Экспертиза претензионного Товара проводится Продавцом за свой счет в срок, не превышающий 20 (Двадцать) календарных дней с момента получения претензионного Товара и документов, предусмотренных  п. 7.4. настоящего Договора.</li>
  </ul>
  <h3>8. Возврат Товара</h3>
  <p>8.1. Покупателю предоставляется право осуществить возврат Товара, который был приобретён со склада Продавца (то есть с наличия).</p>
  <p>8.2. В том случае, если Товар по Заказу Покупателя заказывался Продавцом у сторонних поставщиков, возврат не может быть осуществлен, за исключением случаев брака. Порядок оформления брака и перечень необходимых документов указаны в разделе 7 настоящего Договора.</p>
  <p>8.3. Возврат электрообрудования и электрических приборов (свечи, электролампы и т.п.) не производиться ни при каких условиях.</p>
  <p>8.4. Покупатель обязан уведомить Продавца о предстоящем возврате Товара и согласовать с Продавцом условия возврата (время, документальное оформление и пр.). Возврат Товара без предварительного согласования с Поставщиком считается нарушением условий настоящего Договора и может служить основанием для отказа Покупателю в возврате Товара. </p>
  <p>8.5. Возврат Товара осуществляется в месте его получения Покупателем. Возврат Товара без сопроводительных документов считается нарушением условий настоящего договора и может служить основанием для отказа Покупателю в возврате Товара.</p>
  <p>8.6. После получения документов и приёмки возвращаемого Товара Продавец обязуется вернуть Покупателю сумму, указанную в возвратных документах, в течение 14 календарных дней. Возврат денежных средств производится в той же форме, в которой была произведена операция по оплате Заказа.</p>
  <h3>9. Срок действия договора</h3>
  <p>9.1. Настоящий договор вступает в силу с момента осуществления Покупателем Акцепта в установленном настоящим договором порядке, и действует до полного исполнения Сторонами своих обязательств.</p>
  <h3>10. Ответственность Сторон</h3>
  <p>10.1.  По всем вопросам, не предусмотренным настоящим Договором, ответственность Сторон определяется в соответствии с действующим законодательством РФ.</p>
  <p>10.2. Условия настоящего Договора, предусматривающие пени, а так же  штрафы и иные санкции, связанные с возмещением ущерба в случае нарушения договорных обязательств сторон в соответствии с действующим законодательством РФ, применяются только в том случае, если сторона Договора, в чью пользу установлена санкция, либо в чью пользу возмещаются убытки, после нарушения договорных обязательств другой стороной в письменном виде известит ее о намерении взыскать пени, штрафы или иные санкции и (или) потребовать возмещения убытков по факту конкретного нарушения договорных обязательств. Если же такое извещение сделано не было, то соответствующие условия настоящего Договора считаются недействительными и применению не подлежат.</p>
  <p>10.3. Если иное прямо не предусмотрено настоящим Договором, проценты, предусмотренные ст. 317.1 ГК РФ, за период пользования одной стороной денежными средствами другой стороны в связи с обязательствами, возникшими из настоящего Договора, не начисляются и не подлежат уплате стороне-кредитору</p>
  <h3>11. Форс-мажор</h3>
  <p>11.1. Стороны освобождаются от ответственности за частичное  или полное неисполнение обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения настоящего Договора, в результате событий  чрезвычайного характера, наступление которых сторона, не выполнившая обязательства полностью или частично, не могла ни предвидеть, ни предотвратить (форс-мажор). К обстоятельствам непреодолимой силы  относятся также пожары, наводнения, стихийные бедствия, военные действия и акты государственных органов законодательной и исполнительной  власти, сделавшие невозможным исполнения сторонами своих обязательств по настоящему Договору.</p>
  <p>11.2. В случае наступления обстоятельств непреодолимой силы срок исполнения сторонами своих обязательств по настоящему Договору отодвигается соразмерно времени,  в течение которого будут действовать такие обстоятельства.</p>
  <p>11.3. Сторона, подвергнувшаяся обстоятельствам непреодолимой силы, обязана в течение 3 (трех) календарных дней со дня наступления указанных обстоятельств известить об этом другую сторону, при этом уведомление Продавца размещается на Сайте.</p>
  <p>11.4. В случае, если срок действия обстоятельств непреодолимой силы превышает один календарный месяц, то стороны обязуются разрешить дальнейшую юридическую судьбу настоящего Договора.</p>
  <h3>12. Порядок разрешения споров</h3>
  <p>12.1. Все вопросы, связанные с исполнением настоящего Договора, стороны попытаются решить путем переговоров и подписания соответствующих соглашений. </p>
  <p>12.2. При невозможности достичь договоренности, все споры, связанные с настоящим Договором, подлежат рассмотрению в соответствии с действующим законодательством.</p>
  <h3>13. Заключительные положения</h3>
  <p>13.1. Заявки, направленные Покупателем в адрес Продавца с Сайта Продавца, а также с адреса электронной почты, указанной в Заявке Покупателя, имеют юридическую силу.</p>
  <p>13.2 Настоящий Договор - оферта действителен с момента публикации на Сайте и до момента официального отзыва его Продавцом.</p>
  <p class="download-agreement"><a href="/agreement.docx">Скачать Договор в формате DOCX</a></p>
</div>
<div class="modal-footer">
  <button ng-click="closeModal()" class="btn btn-primary">Закрыть</button>
</div>
