jade/templates/error.tpl.jade
.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Ошибка
.modal-body
    div Произошла техническая ошибка при передаче данных. Возможно отсутствует соединение с интернетом.
    div Если ошибка повторяется, Вы можете связаться с нами по адресу #[a(href="mailto:info@enotavto.ru") info@enotavto.ru].
.modal-footer
    button.btn.btn-primary(ng-click='closeModal()') Закрыть

templates/error.tpl.html

<div class="modal-header"><i ng-click="closeModal()" class="fa fa-times"></i>
  <h3 class="modal-title text-left">Ошибка</h3>
</div>
<div class="modal-body">
  <div>Произошла техническая ошибка при передаче данных. Возможно отсутствует соединение с интернетом.</div>
  <div>Если ошибка повторяется, Вы можете связаться с нами по адресу <a href="mailto:info@enotavto.ru">info@enotavto.ru</a>.</div>
</div>
<div class="modal-footer">
  <button ng-click="closeModal()" class="btn btn-primary">Закрыть</button>
</div>
