templates/instruction.tpl.html

<div class="modal-header"><i ng-click="closeModal()" class="fa fa-times"></i>
  <h3 class="modal-title text-left">Инструкция по оплате заказа</h3>
</div>
<div id="instruction" class="modal-body">
  <h3>Оплата картой</h3>
  <ol>
    <li>Введите необходимую информацию для оплаты банковской картой:
      <ul>
        <li>номер карты:
          <div class="instruction-image"><img src="/images/instruction/01.jpg" class="img-responsive"/></div>
        </li>
        <li>срок действия карты:
          <div class="instruction-image"><img src="/images/instruction/02.jpg" class="img-responsive"/></div>
        </li>
        <li>ваше имя:
          <div class="instruction-image"><img src="/images/instruction/03.jpg" class="img-responsive"/></div>
        </li>
        <li>CVV/CVC2 код:
          <div class="instruction-image"><img src="/images/instruction/04.jpg" class="img-responsive"/></div>
        </li>
      </ul>
      <p><b class="notice">Обратите внимание</b>: Если ранее Вы уже оплачивали данной банковской картой на определенном сайте, Вам необходимо будет ввести только CVV/CVC2 код, остальные данные будут подставлены автоматически. Хранение данных осуществляется в соответствии с правилами безопасности международных платежных систем.</p>
      <p><b class="notice">Обратите внимание</b>: Если на выданной Вам банкой карте отсутствует дополнительный CVV/CVC2 код (часто такими карты являются Visa Electron и MasterCard Maestro), то, вероятно, карта не предназначена для расчетов в Интернет. Однако, Вы можете попытаться ввести оплату, введя в данном поле 111 (три единицы).</p>
    </li>
    <li>Нажмите кнопку «Оплатить»:
      <div class="instruction-image"><img src="/images/instruction/05.jpg" class="img-responsive"/></div>
      <p><b class="notice">Обратите внимание</b>: Если Ваша карта поддерживает технологию 3D Secure, для осуществления платежа, Вам необходимо будет пройти дополнительную проверку пользователя в банке-эмитенте (банк, который выпустил данную карту). Для этого Вы будете направлены на страницу банка, выдавшего Вашу карту. Вид проверки зависит от банка, как правило, это дополнительный пароль, который отправляется Вам в SMS, карта переменных кодов, либо другие способы.</p>
    </li>
    <li>Получите сообщение об успешной оплате:
      <div class="instruction-image"><img src="/images/instruction/06.jpg" class="img-responsive"/></div>
    </li>
  </ol>
  <p><b class="notice">Обратите внимание</b>: Если по какой-то причине не удалось произвести оплату, соответствующее уведомление с описанием деталей неуспешной транзакции обязательно будет отображено на экране. Пожалуйста, внимательно прочтите сообщение об ошибке. Если ошибка заключается в неправильно указанной информации на этапе ввода данных для оплаты, укажите необходимые данные повторно. В случае технической ошибки, пожалуйста, обратитесь в службу поддержки интернет-магазина.</p>
  <p>Также, Вы можете обратиться в службу поддержки клиентов процессного центра Uniteller<br/> <b>support@uniteller.ru</b> или по телефонам <b>+7 (495) 987-19-60, 8 800 100 19 60</b> (звонок по России бесплатный).</p>
  <h3>Гарантии безопасности</h3>
  <p>Обработка платежей осуществляется процессинговым центром Uniteller, с соблюдением всех требований стандарта безопасности данных <b>PCI DSS v.2.0</b>.</p>
  <p>Безопасность платежей и конфиденциальность введенной Вами информации обеспечивается использованием протокола SSL и другими специальными средствами защиты от мошеннических операций. Ваши персональные данные хранятся исключительно в процессинговом центре Uniteller и ни при каких обстоятельствах не будут предоставлены третьим лицам, за исключением случаев, предусмотренных законодательством и правилами международных платежных систем.</p>
  <h3>Возврат платежей</h3>
  <p>Срок рассмотрения заявки на возврат денежных средств составляет 5 дней. Возврат денежных средств осуществляется на ту же банковскую карту, с которой производился платеж. Возврат денежных средств на карту осуществляется в срок от 5 до 30 банковских дней, в зависимости от Банка, которым была выпущена банковская карта.</p>
</div>

jade/templates/instruction.tpl.jade
.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Инструкция по оплате заказа
.modal-body#instruction
    h3 Оплата картой
    ol
        li Введите необходимую информацию для оплаты банковской картой:
            ul
                li номер карты:
                    div.instruction-image
                        img.img-responsive(src="/images/instruction/01.jpg")
                li срок действия карты:
                    div.instruction-image
                        img.img-responsive(src="/images/instruction/02.jpg")
                li ваше имя:
                    div.instruction-image
                        img.img-responsive(src="/images/instruction/03.jpg")
                li CVV/CVC2 код:
                    div.instruction-image
                        img.img-responsive(src="/images/instruction/04.jpg")
        
            p #[b.notice Обратите внимание]: Если ранее Вы уже оплачивали данной банковской картой на определенном сайте, Вам необходимо будет ввести только CVV/CVC2 код, остальные данные будут подставлены автоматически. Хранение данных осуществляется в соответствии с правилами безопасности международных платежных систем.
            p #[b.notice Обратите внимание]: Если на выданной Вам банкой карте отсутствует дополнительный CVV/CVC2 код (часто такими карты являются Visa Electron и MasterCard Maestro), то, вероятно, карта не предназначена для расчетов в Интернет. Однако, Вы можете попытаться ввести оплату, введя в данном поле 111 (три единицы).
                
        li Нажмите кнопку «Оплатить»:
            div.instruction-image
                img.img-responsive(src="/images/instruction/05.jpg")
            p #[b.notice Обратите внимание]: Если Ваша карта поддерживает технологию 3D Secure, для осуществления платежа, Вам необходимо будет пройти дополнительную проверку пользователя в банке-эмитенте (банк, который выпустил данную карту). Для этого Вы будете направлены на страницу банка, выдавшего Вашу карту. Вид проверки зависит от банка, как правило, это дополнительный пароль, который отправляется Вам в SMS, карта переменных кодов, либо другие способы.
        li Получите сообщение об успешной оплате:
            div.instruction-image
                img.img-responsive(src="/images/instruction/06.jpg")
    p #[b.notice Обратите внимание]: Если по какой-то причине не удалось произвести оплату, соответствующее уведомление с описанием деталей неуспешной транзакции обязательно будет отображено на экране. Пожалуйста, внимательно прочтите сообщение об ошибке. Если ошибка заключается в неправильно указанной информации на этапе ввода данных для оплаты, укажите необходимые данные повторно. В случае технической ошибки, пожалуйста, обратитесь в службу поддержки интернет-магазина.
    p Также, Вы можете обратиться в службу поддержки клиентов процессного центра Uniteller#[br] #[b support@uniteller.ru] или по телефонам #[b +7 (495) 987-19-60, 8 800 100 19 60] (звонок по России бесплатный).
    h3 Гарантии безопасности
    p Обработка платежей осуществляется процессинговым центром Uniteller, с соблюдением всех требований стандарта безопасности данных 
      | #[b PCI DSS v.2.0].
    p Безопасность платежей и конфиденциальность введенной Вами информации обеспечивается использованием протокола SSL и другими специальными средствами защиты от мошеннических операций. Ваши персональные данные хранятся исключительно в процессинговом центре Uniteller и ни при каких обстоятельствах не будут предоставлены третьим лицам, за исключением случаев, предусмотренных законодательством и правилами международных платежных систем.
    
    h3 Возврат платежей
    p Срок рассмотрения заявки на возврат денежных средств составляет 5 дней. Возврат денежных средств осуществляется на ту же банковскую карту, с которой производился платеж. Возврат денежных средств на карту осуществляется в срок от 5 до 30 банковских дней, в зависимости от Банка, которым была выпущена банковская карта.
