templates/message-success.tpl.html

<div class="modal-header"><i ng-click="closeModal()" class="fa fa-times"></i>
  <h3 class="modal-title text-left">Сообщение отправлено</h3>
</div>
<div class="modal-body">
  <div class="color-green">
    <p>Уважаемый(-ая) {{ data.name }}!</p>
    <div>Ваше сообщение успешно отправлено, Вам обязательно ответят.</div>
    <div>Спасибо!</div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="closeModal()" class="btn btn-primary">Закрыть</button>
</div>

jade/templates/message-success.tpl.jade
.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Сообщение отправлено
.modal-body
    .color-green
        p Уважаемый(-ая) {{ data.name }}!
        div Ваше сообщение успешно отправлено, Вам обязательно ответят.
        div Спасибо!
.modal-footer
    button.btn.btn-primary(ng-click='closeModal()') Закрыть
