templates/order-success.tpl.html

<div class="modal-header"><i ng-click="closeModal()" class="fa fa-times"></i>
  <h3 class="modal-title text-left">Заказ отправлен</h3>
</div>
<div class="modal-body">
  <div class="color-green">
    <p>Уважаемый(-ая) {{ data.name }}!</p>
    <div>Ваш заказ успешно отправлен. В ближайшее время с Вами свяжется наш менеджер.</div>
    <div>Спасибо!</div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="closeModal()" class="btn btn-primary">Закрыть</button>
</div>

jade/templates/order-success.tpl.jade
.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Заказ отправлен
.modal-body
    .color-green
        p Уважаемый(-ая) {{ data.name }}!
        div Ваш заказ успешно отправлен. В ближайшее время с Вами свяжется наш менеджер.
        div Спасибо!
.modal-footer
    button.btn.btn-primary(ng-click='closeModal()') Закрыть
