jade/templates/payment-form.tpl.jade
.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Оплата заказа
.modal-body.ng-cloak#dopay-modal(ng-init="payment.trySubmit = false")
    form(data-ng-cloak="", name="paymentForm", ng-submit='(!paymentForm.$invalid) ? pay() : null; payment.trySubmit = true', novalidate='', autocomplete='off')
        fieldset
            .form-group
                input.form-control(name='number', ng-model='payment.number', ng-pattern='/^[0-9]{5}$/', type='text', placeholder='Введите пятизначный номер заказа', required='', ng-class="{'ng-dirty': (paymentForm.number.$dirty || payment.trySubmit)}")
                div.l-field-error-holder
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.number.$dirty) && paymentForm.number.$error.required") Введите номер заказа
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.number.$dirty) && (paymentForm.number.$invalid && !paymentForm.number.$error.required)") Введите пятизначный номер заказа
            .form-group
                input.form-control(name='amount', ng-model='payment.amount', ng-pattern='/^[0-9]{1,7}$/', type='text', placeholder='Введите сумму к оплате в рублях', required='', ng-class="{'ng-dirty': (paymentForm.amount.$dirty || payment.trySubmit)}")
                div.l-field-error-holder
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.amount.$dirty) && paymentForm.amount.$error.required") Введите сумму
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.amount.$dirty) && (paymentForm.amount.$invalid && !paymentForm.amount.$error.required)") Допускаются только цифры
            .form-group
                input.form-control(name='email', ng-model='payment.email', type='email', placeholder='Email', required="true", ng-class="{'ng-dirty': (paymentForm.email.$dirty || payment.trySubmit)}")
                div.l-field-error-holder
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.email.$dirty) && (paymentForm.email.$error.required)") Введите Email
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.email.$dirty) && (paymentForm.email.$invalid && !paymentForm.email.$error.required)") Неверный формат Email
            .form-group
                textarea.form-control(name='notice', ng-model='payment.notice', placeholder='Примечание к платежу (не обязательно)')
        .checkbox
            label(for='agreement')
                input#agreement(name='agreement', ng-model='payment.agreement', type='checkbox', required="")
                | &nbsp;Я соглашаюсь с условиями #[a(class="fakelink", data-ng-click="openAgreement()", target="_blank") Договора-оферты] 
            div.l-field-error-holder(ng-show="(payment.trySubmit || paymentForm.agreement.$dirty) && !payment.agreement")
                div.l-field-error.l-field-error-left.fade Необходимо принять условия Договора-оферты

        .text-center
            button.btn-orange.btn.btn-warning(type='submit', ng-disabled='payment.loading || (paymentForm.$invalid && payment.trySubmit)')
                span(ng-show='payment.loading')
                    i.fa.fa-refresh.fa-spin
                |  Оплатить

templates/payment-form.tpl.html

<div class="modal-header"><i ng-click="closeModal()" class="fa fa-times"></i>
  <h3 class="modal-title text-left">Оплата заказа</h3>
</div>
<div id="dopay-modal" ng-init="payment.trySubmit = false" class="modal-body ng-cloak">
  <form data-ng-cloak="" name="paymentForm" ng-submit="(!paymentForm.$invalid) ? pay() : null; payment.trySubmit = true" novalidate="" autocomplete="off">
    <fieldset>
      <div class="form-group">
        <input name="number" ng-model="payment.number" ng-pattern="/^[0-9]{5}$/" type="text" placeholder="Введите пятизначный номер заказа" required="" ng-class="{'ng-dirty': (paymentForm.number.$dirty || payment.trySubmit)}" class="form-control"/>
        <div class="l-field-error-holder">
          <div ng-show="(payment.trySubmit || paymentForm.number.$dirty) &amp;&amp; paymentForm.number.$error.required" class="l-field-error fade">Введите номер заказа</div>
          <div ng-show="(payment.trySubmit || paymentForm.number.$dirty) &amp;&amp; (paymentForm.number.$invalid &amp;&amp; !paymentForm.number.$error.required)" class="l-field-error fade">Введите пятизначный номер заказа</div>
        </div>
      </div>
      <div class="form-group">
        <input name="amount" ng-model="payment.amount" ng-pattern="/^[0-9]{1,7}$/" type="text" placeholder="Введите сумму к оплате в рублях" required="" ng-class="{'ng-dirty': (paymentForm.amount.$dirty || payment.trySubmit)}" class="form-control"/>
        <div class="l-field-error-holder">
          <div ng-show="(payment.trySubmit || paymentForm.amount.$dirty) &amp;&amp; paymentForm.amount.$error.required" class="l-field-error fade">Введите сумму</div>
          <div ng-show="(payment.trySubmit || paymentForm.amount.$dirty) &amp;&amp; (paymentForm.amount.$invalid &amp;&amp; !paymentForm.amount.$error.required)" class="l-field-error fade">Допускаются только цифры</div>
        </div>
      </div>
      <div class="form-group">
        <input name="email" ng-model="payment.email" type="email" placeholder="Email" required="true" ng-class="{'ng-dirty': (paymentForm.email.$dirty || payment.trySubmit)}" class="form-control"/>
        <div class="l-field-error-holder">
          <div ng-show="(payment.trySubmit || paymentForm.email.$dirty) &amp;&amp; (paymentForm.email.$error.required)" class="l-field-error fade">Введите Email</div>
          <div ng-show="(payment.trySubmit || paymentForm.email.$dirty) &amp;&amp; (paymentForm.email.$invalid &amp;&amp; !paymentForm.email.$error.required)" class="l-field-error fade">Неверный формат Email</div>
        </div>
      </div>
      <div class="form-group">
        <textarea name="notice" ng-model="payment.notice" placeholder="Примечание к платежу (не обязательно)" class="form-control"></textarea>
      </div>
    </fieldset>
    <div class="checkbox">
      <label for="agreement">
        <input id="agreement" name="agreement" ng-model="payment.agreement" type="checkbox" required=""/>&nbsp;Я соглашаюсь с условиями <a data-ng-click="openAgreement()" target="_blank" class="fakelink">Договора-оферты</a> 
      </label>
      <div ng-show="(payment.trySubmit || paymentForm.agreement.$dirty) &amp;&amp; !payment.agreement" class="l-field-error-holder">
        <div class="l-field-error l-field-error-left fade">Необходимо принять условия Договора-оферты</div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" ng-disabled="payment.loading || (paymentForm.$invalid &amp;&amp; payment.trySubmit)" class="btn-orange btn btn-warning"><span ng-show="payment.loading"><i class="fa fa-refresh fa-spin"></i></span> Оплатить</button>
    </div>
  </form>
</div>
